HEAD
"venv/" 
HEAD
# Ignore dataset folder
data/

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

"data/" 
792c3bd6d006c8e933f1af5d866643aa3b991d35
 pw1
